@use '../variables';
@use '../mixin/media';

.Wrapper {
  display: flex;
  flex-direction: column;
  row-gap: variables.rem(20px);
  padding: variables.rem(18px);
  width: 100%;
  max-width: variables.rem(352px);
  height: 100%;
  max-height: variables.rem(256px);
  background-color: #fff;
  border-radius: variables.rem(24px);
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: variables.rem(24px) variables.rem(24px) variables.rem(40px) rgba(75, 207, 160, 0.08);
  }

  @include media.for-tablet {
    row-gap: variables.rem(40px);
    padding: variables.rem(32px);
  }
}

.Header {
  display: flex;
  flex-direction: column;
  row-gap: variables.rem(4px);

  @include media.for-tablet {
    row-gap: variables.rem(8px);
  }
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: variables.rem(24px);

  @include media.for-mobile {
    flex-direction: column;
    row-gap: variables.rem(14px);

    :global .btn {
      width: 100%;
    }
  }
}

.Button {
  color: variables.$primary;
  border: variables.rem(1px) solid rgba(0, 0, 0, 0.1);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: variables.$primary;
  }
}
