@use '../variables';
@use '../mixin/media';

.Wrapper {
  display: flex;
  flex-direction: column;
  row-gap: variables.rem(20px);
  padding: variables.rem(18px);
  width: 100%;
  max-width: variables.rem(352px);
  height: 100%;
  max-height: variables.rem(256px);
  background-color: #fff;
  border-radius: variables.rem(24px);
  transition: box-shadow .3s ease-in-out;

  &:hover {
    box-shadow: variables.rem(24px) variables.rem(24px) variables.rem(40px) rgba(75, 207, 160, 0.08);
  }

  @include media.for-tablet {
    row-gap: variables.rem(40px);
    padding: variables.rem(32px);
  }
}

.Header {
  display: flex;
  flex-direction: column;
  row-gap: variables.rem(4px);

  @include media.for-tablet {
    row-gap: variables.rem(8px);
  }
}

.Category {
  font-size: variables.rem(12px);
  line-height: variables.rem(20px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: lighten(variables.$text, 50%);

  @include media.for-tablet {
    font-size: variables.rem(16px);
    line-height: variables.rem(24px);
  }
}

.Name {
  font-size: variables.rem(25px);
  line-height: variables.rem(32px);

  @include media.for-tablet {
    font-size: variables.rem(40px);
    line-height: variables.rem(48px);
  }
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: variables.rem(24px);

  @include media.for-mobile {
    flex-direction: column;
    row-gap: variables.rem(14px);

    :global .btn {
      width: 100%;
    }
  }
}

.Price {
  position: relative;
  padding-left: variables.rem(11px);

  &Currency {
    position: absolute;
    top: variables.rem(6px);
    left: 0;
    font-size: variables.rem(15px);
    line-height: variables.rem(20px);
  }

  &Count {
    font-size: variables.rem(35px);
    line-height: variables.rem(42px);
  }

  @include media.for-mobile {
    margin-right: auto;
  }

  @include media.for-laptop {
    padding-left: variables.rem(21px);

    &Currency {
      top: variables.rem(13px);
      font-size: variables.rem(30px);
      line-height: variables.rem(35px);
    }

    &Count {
      font-size: variables.rem(60px);
      line-height: variables.rem(72px);
    }
  }
}

.Button {
  color: variables.$primary;
  border: variables.rem(1px) solid rgba(0, 0, 0, 0.1);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: variables.$primary;
  }
}
