@use 'sass:math' as math;

/* ==== Color ==== */

$primary: #4bcfa0;
$text: #000;
$error: #e43f3f;

/* ==== Functions ==== */

@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}

/* ==== Mixin ==== */
$breakpoints: (
  'mobile': (
    max-width: rem(740px),
  ),
  'tablet': (
    min-width: rem(742px),
  ),
  'laptop': (
    min-width: rem(1280px),
  ),
  'desktop': (
    min-width: rem(1920px),
  ),
) !default;
