@use 'variables' as variables;
@import 'normalize.css';

/* ==== Parts ==== */
@import 'parts/reset';

/* ==== Mixin ==== */
@import 'mixin/media';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 0 variables.rem(15px);
  max-width: variables.rem(1136px);
}
